<div id="departure">
    <div class="fixed">
        <div id="service-types">
            <div class="service-type-airambulance">

            </div>
        </div><!-- #service-types -->

        <div id="process-titles">
            <div class="process-title-submit">
                <ul>
                    <li class="process-schedule"><a href="index.html" title="">1-SCHEDULE</a></li>
                    <li class="process-patient"><a href="patient.html" title="">2-PATIENT</a></li>
                    <li class="process-contact"><a href="contact-login.html" title="">3-CONTACT</a></li>
                    <li class="process-submit"><a href="submit.html" title="">4-SUBMIT</a></li>
                </ul>
            </div>
        </div><!-- #process-titles -->

        <div class="clear"></div>

        <div id="process-content">
            <form action="vars.php" method="post" class="niceform">
                <div class="submit-container">
                    <div class="submit-wrapper">
                        <div class="submit-title">
                            Service Type
                        </div>

                        <div class="submit-text">
                            Air Ambulance
                        </div>
                    </div>

                    <hr />

                    <div class="submit-wrapper">
                        <div class="submit-title">
                            Route
                        </div>

                        <div class="route-left">
                            <div class="route-title">
                                Departure Location
                            </div>

                            <div class="route-content">
                                City: <strong>Istanbul</strong><br />
                                Country: <strong>Turkey</strong>
                            </div>
                        </div>

                        <div class="route-arrival"></div>

                        <div class="route-right">
                            <div class="route-title">
                                Arrival Location
                            </div>

                            <div class="route-content">
                                City: <strong>Istanbul</strong><br />
                                Country: <strong>Turkey</strong>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="submit-text">
                            Flight Day: Immediate 1-7 day
                        </div>
                    </div>

                    <hr />

                    <div class="submit-wrapper">
                        <div class="submit-title">
                            Patient Detail
                        </div>

                        <div class="submit-left">
                            Case Number: <strong>A53593</strong><br />
                            Full Name: <strong>Lorem Ipsum</strong><br />
                            Date of Birth: <strong>04.05.1987</strong><br />
                            Additional Information: <strong>Lorem Ipsum</strong>
                        </div>

                        <div class="submit-right">
                            <strong>Case Number:</strong><br />
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard
                            dummy text ever since the 1500s, when an unknown printer
                            took a galley of
                        </div>

                        <div class="clear"></div>
                    </div>

                    <hr />

                    <div class="submit-wrapper">
                        <div class="submit-title">
                            Hospital / Facility
                        </div>

                        <div class="submit-left">
                            Name: <strong>A53593</strong><br />
                            Tel: <strong>Lorem Ipsum</strong><br />
                            Web: <strong>Lorem Ipsum</strong><br />
                            City: <strong>Lorem Ipsum</strong><br />
                            Country: <strong>Lorem Ipsum</strong>
                        </div>

                        <div class="submit-right">
                            <strong>Adress:</strong> Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard<br /><br />

                            <strong>State:</strong> Istanbul<br />
                            <strong>Zip / Postal Code:</strong> Lorem Ipsum
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>

                <div class="submit-container">
                    <div class="submit-wrapper">
                        <div class="submit-title">
                            Standart Terms & Conditions
                        </div>

                        <div class="terms-conditions">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br />

                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br /><br />

                            It was popularised in the 1960s with the release of Letraset sheets containing<br /><br />

                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br />
                        </div>
                    </div>

                    <hr />

                    <div class="check-submit">
                        <div class="term-check">
                            <input type="checkbox" name="termcheck[]" id="termcheckChecked" /><label for="termcheckChecked" class="optx">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
                        </div>

                        <div class="term-submit">
                            <input type="submit" name="submit" id="submit" value="Submit" />
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </form>

            <div class="clear" style="padding: 10px 0 0 0;"></div>
        </div><!-- #process-content -->

        <div class="clear"></div>
    </div><!-- .fixed -->
</div><!-- #departure -->

